*
::after
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to bottom, rgb(0, 85, 255), #a77c21);
    height: 100vh;
}

main {
    width: 100%;
    margin-top: 8rem;
}

header {
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}

h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
    font-family: sans-serif;
    font-weight: 700;
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width:47rem;
    margin: 0 auto;
}

.input {
    flex: 1 1 50%;
    margin: 1rem;
    appearance: none;
    background: none;
    background-color: #ffffff;
    border-radius: 0.5rem;
    padding: 1rem;
    border: none;
    outline: none;
}
