*
::after
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to bottom, rgb(0, 85, 255), #a77c21);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

h1 {
    font-size: 2.8rem;
    font-weight: 700;
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    max-width:47rem;
    margin: 0 auto;
}

.input {
    background-color: #ffffff;
    flex: 1 1 50%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
}
